USE [DBYeterZüccaciye]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserNAME] [varchar](30) NULL,
	[Password] [varchar](30) NULL,
	[Authority] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CargoDetays]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CargoDetays](
	[CargoExplanationID] [nvarchar](128) NOT NULL,
	[CargoExplanation] [varchar](250) NULL,
	[TakipKodu] [varchar](10) NULL,
	[Personel] [varchar](20) NULL,
	[Alici] [varchar](20) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CargoDetays] PRIMARY KEY CLUSTERED 
(
	[CargoExplanationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CargoTakips]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CargoTakips](
	[CargoTakipID] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](10) NULL,
	[Açıklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CargoTakips] PRIMARY KEY CLUSTERED 
(
	[CargoTakipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CATEGORYID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [varchar](30) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Costs]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Costs](
	[CostID] [int] IDENTITY(1,1) NOT NULL,
	[CostName] [varchar](100) NULL,
	[CostDate] [datetime] NOT NULL,
	[CostAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Costs] PRIMARY KEY CLUSTERED 
(
	[CostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerNAME] [varchar](30) NULL,
	[CustomerUSERNAME] [varchar](30) NULL,
	[CustomerCITY] [varchar](20) NULL,
	[CustomerMAIL] [varchar](50) NULL,
	[Status] [bit] NOT NULL DEFAULT ((0)),
	[CustomerPassword] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentNAME] [varchar](30) NULL,
	[Status] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](30) NULL,
	[ProductBilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice_part]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_part](
	[IPID] [int] IDENTITY(1,1) NOT NULL,
	[Explanation] [varchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[InvoiceID] [int] NOT NULL,
 CONSTRAINT [PK_Invoice_part] PRIMARY KEY CLUSTERED 
(
	[IPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceSERİNO] [char](1) NULL,
	[InvoiceSIRANO] [varchar](6) NULL,
	[Date] [datetime] NOT NULL,
	[Hour] [char](5) NULL,
	[Tax] [varchar](60) NULL,
	[Selling] [varchar](30) NULL,
	[Buyer] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Gönderen] [varchar](50) NULL,
	[Alici] [varchar](50) NULL,
	[Konu] [varchar](50) NULL,
	[Icerik] [varchar](2000) NULL,
	[Tarih] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [varchar](30) NULL,
	[BRAND] [varchar](30) NULL,
	[STOK] [smallint] NOT NULL,
	[GETPRICE] [decimal](18, 2) NOT NULL,
	[SELLPRICE] [decimal](18, 2) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[IMAGE] [varchar](250) NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SalesMoves]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesMoves](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[SalesDate] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
 CONSTRAINT [PK_SalesMoves] PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staffs](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAD] [varchar](30) NULL,
	[PersonelUSERNAME] [varchar](30) NULL,
	[PersonelIMAGE] [varchar](250) NULL,
	[DepartmentID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tablo1]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablo1](
	[Stok] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yapilacaks]    Script Date: 1.03.2021 16:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yapilacaks](
	[YapılacakID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yapilacaks] PRIMARY KEY CLUSTERED 
(
	[YapılacakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [UserNAME], [Password], [Authority]) VALUES (3, N'DENEME', N'1', N'A')
INSERT [dbo].[Admins] ([AdminID], [UserNAME], [Password], [Authority]) VALUES (4, N'YASİN', N'1453', N' ')
INSERT [dbo].[Admins] ([AdminID], [UserNAME], [Password], [Authority]) VALUES (5, N'MAHMUT', N'2222', N'D')
SET IDENTITY_INSERT [dbo].[Admins] OFF
INSERT [dbo].[CargoDetays] ([CargoExplanationID], [CargoExplanation], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (N'1', N'1 ADET', N'1000050211', N'YASİN BULUT', N'İBRAHİM ÇAYIROĞLU', CAST(N'2021-02-08 00:00:00.000' AS DateTime))
INSERT [dbo].[CargoDetays] ([CargoExplanationID], [CargoExplanation], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (N'2', N'1 ADET', N'1000050213', N'YASİN BULUT', N'İBRAHİM ÇAYIROĞLU', CAST(N'2021-02-09 00:00:00.000' AS DateTime))
INSERT [dbo].[CargoDetays] ([CargoExplanationID], [CargoExplanation], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (N'3', N'1 ADET', N'1000050212', N'AYŞE ÖZTÜRK', N'MAHMUT YETER', CAST(N'2021-02-09 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CargoTakips] ON 

INSERT [dbo].[CargoTakips] ([CargoTakipID], [TakipKodu], [Açıklama], [TarihZaman]) VALUES (1, N'1000050214', N'KARGONUZ YOLA ÇIKTI', CAST(N'2021-02-08 00:00:00.000' AS DateTime))
INSERT [dbo].[CargoTakips] ([CargoTakipID], [TakipKodu], [Açıklama], [TarihZaman]) VALUES (3, N'1000050211', N'KARGONUZ YOLA ÇIKTI', CAST(N'2021-02-08 00:00:00.000' AS DateTime))
INSERT [dbo].[CargoTakips] ([CargoTakipID], [TakipKodu], [Açıklama], [TarihZaman]) VALUES (4, N'1000050213', N'KARGONUZ YOLA ÇIKTI', CAST(N'2021-02-09 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CargoTakips] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CATEGORYID], [CATEGORYNAME]) VALUES (1, N'BANYO TAKIMI')
INSERT [dbo].[Categories] ([CATEGORYID], [CATEGORYNAME]) VALUES (2, N'BAHARAT TAKIMI')
INSERT [dbo].[Categories] ([CATEGORYID], [CATEGORYNAME]) VALUES (3, N'BARDAK TAKIMI')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Costs] ON 

INSERT [dbo].[Costs] ([CostID], [CostName], [CostDate], [CostAmount]) VALUES (1, N'ÜRÜN MALİYET', CAST(N'2021-02-01 00:00:00.000' AS DateTime), CAST(55000.00 AS Decimal(18, 2)))
INSERT [dbo].[Costs] ([CostID], [CostName], [CostDate], [CostAmount]) VALUES (3, N'PERSONEL MAAŞ', CAST(N'2021-02-01 00:00:00.000' AS DateTime), CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Costs] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustomerNAME], [CustomerUSERNAME], [CustomerCITY], [CustomerMAIL], [Status], [CustomerPassword]) VALUES (1, N'AYŞE', N'ÖZTÜRK', N'İSTANBUL', N'ayse_25@hotmail.com', 1, N'2')
INSERT [dbo].[Customers] ([CustomerID], [CustomerNAME], [CustomerUSERNAME], [CustomerCITY], [CustomerMAIL], [Status], [CustomerPassword]) VALUES (2, N'İBRAHİM', N'ÇAYIR', N'KARABÜK', N'icayir@outlook.com', 1, N'3333')
INSERT [dbo].[Customers] ([CustomerID], [CustomerNAME], [CustomerUSERNAME], [CustomerCITY], [CustomerMAIL], [Status], [CustomerPassword]) VALUES (3, N'ZEYNEP', N'KAYA', N'İSTANBUL', N'zeynep@outlook.com', 1, N'4')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentNAME], [Status]) VALUES (1, N'SATIŞ ', 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentNAME], [Status]) VALUES (2, N'MUHASEBE', 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentNAME], [Status]) VALUES (3, N'PERSONEL', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Detays] ON 

INSERT [dbo].[Detays] ([DetayID], [ProductName], [ProductBilgi]) VALUES (1, N'BANYO TAKIMI-1', N'15 gün içinde ücretsiz iade.Detaylı bilgi için tıklayın
Bu ürün VIPGROSS tarafından gönderilecektir.
Okyanus çift baskı kare 5 li banyo set mermer desenli - Mavi
Bu üründen en fazla 10 adet sipariş verilebilir. 10 adetin üzerindeki siparişleri Trendyol iptal etme hakkını saklı tutar.
Kampanya fiyatından satılmak üzere 100 adetten fazla stok sunulmuştur.')
SET IDENTITY_INSERT [dbo].[Detays] OFF
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [InvoiceSERİNO], [InvoiceSIRANO], [Date], [Hour], [Tax], [Selling], [Buyer], [Toplam]) VALUES (1, N'A', N'101102', CAST(N'2021-02-07 00:00:00.000' AS DateTime), N'21.00', N'KARTAL', N'MAHMUT YETER', N'AYŞE ÖZTÜRK', CAST(65.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([InvoiceID], [InvoiceSERİNO], [InvoiceSIRANO], [Date], [Hour], [Tax], [Selling], [Buyer], [Toplam]) VALUES (2, N'A', N'101113', CAST(N'2021-02-07 00:00:00.000' AS DateTime), N'13:45', N'KARTAL', N'YASİN BULUT', N'İBRAHİM ÇAYIROĞLU', CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([InvoiceID], [InvoiceSERİNO], [InvoiceSIRANO], [Date], [Hour], [Tax], [Selling], [Buyer], [Toplam]) VALUES (3, N'A', N'101116', CAST(N'2021-01-27 00:00:00.000' AS DateTime), N'15.00', N'PENDİK', N'MAHMUT YETER', N'ZEYNEP KAYA', CAST(350.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [Gönderen], [Alici], [Konu], [Icerik], [Tarih]) VALUES (1, N'yasinbulut_25@outlook.com', N'icayir@outlook.com', N'Satış Hakkında', N'Elinize ulaşan ürünümüz de herhangi bir sorun olursa bire bir düzelteceğiz', CAST(N'2021-02-08 00:00:00' AS SmallDateTime))
INSERT [dbo].[Messages] ([MessageID], [Gönderen], [Alici], [Konu], [Icerik], [Tarih]) VALUES (4, N'ayse_25@hotmail.com', N'aslı@hotmail.com', N'ÜRÜN HAKKINDA', N'ALDIĞIN BANYO TAKIMI NASIL. FOTOĞRFTAKİ GİBİ Mİ BANA DÖNÜŞ YAPARMISIN', CAST(N'2021-02-08 00:00:00' AS SmallDateTime))
INSERT [dbo].[Messages] ([MessageID], [Gönderen], [Alici], [Konu], [Icerik], [Tarih]) VALUES (7, N'aslı@hotmail.com', N'ayse_25@hotmail.com', N'ÜRÜN HAKKINDA', N'EVET CANIM ÇOK GÜZEL GELDİ TAVSİYE EDERİM', CAST(N'2021-02-08 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([PRODUCTID], [PRODUCTNAME], [BRAND], [STOK], [GETPRICE], [SELLPRICE], [STATUS], [IMAGE], [CategoryID]) VALUES (1, N'SİYAH BÖLMELİ DETERJAN KUTUSU', N'LAUNDRY', 8, CAST(45.00 AS Decimal(18, 2)), CAST(65.00 AS Decimal(18, 2)), 1, N'https://bastonlu.com/wp-content/uploads/2021/01/Laundry-Siyah-Bolmeli-Deterjan-Kutusu-300x375.jpg', 1)
INSERT [dbo].[Products] ([PRODUCTID], [PRODUCTNAME], [BRAND], [STOK], [GETPRICE], [SELLPRICE], [STATUS], [IMAGE], [CategoryID]) VALUES (2, N'BEŞ PARÇALI BANYO SETİ', N'YAKUT İTHALAT', 25, CAST(120.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), 1, N'https://bastonlu.com/wp-content/uploads/2021/01/Bes-Parca-Banyo-Seti-300x375.jpg', 1)
INSERT [dbo].[Products] ([PRODUCTID], [PRODUCTNAME], [BRAND], [STOK], [GETPRICE], [SELLPRICE], [STATUS], [IMAGE], [CategoryID]) VALUES (3, N'İKİLİ BANYO SETİ', N'LAİSY', 10, CAST(65.00 AS Decimal(18, 2)), CAST(85.00 AS Decimal(18, 2)), 1, N'https://bastonlu.com/wp-content/uploads/2021/01/Laisy-Ikili-Banyo-Seti-2-300x375.jpg', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[SalesMoves] ON 

INSERT [dbo].[SalesMoves] ([SalesID], [SalesDate], [Amount], [Price], [Total], [CustomerId], [ProductID], [PersonelID]) VALUES (2, CAST(N'2021-02-07 00:00:00.000' AS DateTime), 1, CAST(65.00 AS Decimal(18, 2)), CAST(65.00 AS Decimal(18, 2)), 1, 1, 1)
INSERT [dbo].[SalesMoves] ([SalesID], [SalesDate], [Amount], [Price], [Total], [CustomerId], [ProductID], [PersonelID]) VALUES (3, CAST(N'2021-02-07 00:00:00.000' AS DateTime), 1, CAST(125.00 AS Decimal(18, 2)), CAST(125.00 AS Decimal(18, 2)), 2, 9, 3)
INSERT [dbo].[SalesMoves] ([SalesID], [SalesDate], [Amount], [Price], [Total], [CustomerId], [ProductID], [PersonelID]) VALUES (4, CAST(N'2021-02-07 00:00:00.000' AS DateTime), 2, CAST(175.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)), 3, 17, 1)
SET IDENTITY_INSERT [dbo].[SalesMoves] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([PersonelID], [PersonelAD], [PersonelUSERNAME], [PersonelIMAGE], [DepartmentID]) VALUES (1, N'MAHMUT', N'YETER', N'https://www.kurulumyap.com/resimler/243/parsanda-personel-takip-programi-icon.jpg', 1)
INSERT [dbo].[Staffs] ([PersonelID], [PersonelAD], [PersonelUSERNAME], [PersonelIMAGE], [DepartmentID]) VALUES (2, N'ALİ', N'YETER', N'https://www.kurulumyap.com/resimler/243/parsanda-personel-takip-programi-icon.jpg', 3)
INSERT [dbo].[Staffs] ([PersonelID], [PersonelAD], [PersonelUSERNAME], [PersonelIMAGE], [DepartmentID]) VALUES (3, N'YASİN', N'BULUT', N'https://www.kurulumyap.com/resimler/243/parsanda-personel-takip-programi-icon.jpg', 4)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
INSERT [dbo].[Tablo1] ([Stok]) VALUES (97)
SET IDENTITY_INSERT [dbo].[Yapilacaks] ON 

INSERT [dbo].[Yapilacaks] ([YapılacakID], [Baslik], [Durum]) VALUES (2, N'SABAH SİPARİŞ LİSTESİNİ KONTROL ET', 1)
INSERT [dbo].[Yapilacaks] ([YapılacakID], [Baslik], [Durum]) VALUES (3, N'GÜNLÜK KARGO TAKİPLERİNİ YAP', 1)
INSERT [dbo].[Yapilacaks] ([YapılacakID], [Baslik], [Durum]) VALUES (4, N'ÜRÜN FİYAT GÜNCELLEMELERİNİ KONTROL ET', 1)
SET IDENTITY_INSERT [dbo].[Yapilacaks] OFF
ALTER TABLE [dbo].[SalesMoves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesMoves_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesMoves] CHECK CONSTRAINT [FK_dbo.SalesMoves_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[SalesMoves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesMoves_dbo.Staffs_PersonelID] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Staffs] ([PersonelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesMoves] CHECK CONSTRAINT [FK_dbo.SalesMoves_dbo.Staffs_PersonelID]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staffs_dbo.Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_dbo.Staffs_dbo.Departments_DepartmentID]
GO
