@using YeterZüccaciye.Models.Sınıflar
@model List<CargoTakip>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>KargoTakip</h2>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>AÇIKLAMA</th>
            <th>TARİH</th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Açıklama</td>
            <td>@x.TarihZaman</td>    
        </tr>
    }
</table>