USE [DBYeterZüccaciye]
GO
/****** Object:  Table [dbo].[Tablo1]    Script Date: 1.03.2021 16:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablo1](
	[Stok] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Tablo1] ([Stok]) VALUES (97)
