USE [DBYeterZüccaciye]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1.03.2021 16:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CATEGORYID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [varchar](30) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CATEGORYID], [CATEGORYNAME]) VALUES (1, N'BANYO TAKIMI')
INSERT [dbo].[Categories] ([CATEGORYID], [CATEGORYNAME]) VALUES (2, N'BAHARAT TAKIMI')
INSERT [dbo].[Categories] ([CATEGORYID], [CATEGORYNAME]) VALUES (3, N'BARDAK TAKIMI')
SET IDENTITY_INSERT [dbo].[Categories] OFF
