@using YeterZüccaciye.Models.Sınıflar
@model List<Staff>
@{
    ViewBag.Title = "ExplanationDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Detay</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.d</li>
</ol>
<table class="table table-bordered">
    <tr>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>    
            <td>@x.PersonelAD</td>
            <td>@x.PersonelUSERNAME</td>
            <td><a href="/Department/DepartmentStaffSales/@x.PersonelID" class="btn btn-outline-danger">Satışlar</a></td>
        </tr>
    }

</table>
