@model YeterZüccaciye.Models.Sınıflar.Department
@{
    ViewBag.Title = "GoDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateDepartment", "Department", FormMethod.Post))
{
    <div class="form-group">
        <label>Departman Ad</label>
        @Html.TextBoxFor(x => x.DepartmentNAME, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmentID)
    </div>
    <button class="btn btn-warning">Güncelle</button>
}

