@using YeterZüccaciye.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Listesi</h2>
<br />
<table id="tbl2" class="table table-bordered" style="margin-top:15px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>DEPARTMAN AD</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
        <tr> 
            <td>
                @c.DepartmentID
            </td>
            <td>
                @c.DepartmentNAME
            </td>
            <td><a href="/Department/DeleteDepartment/@c.DepartmentID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Department/GoDepartment/@c.DepartmentID" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Department/ExplanationDepartment/@c.DepartmentID" class="btn btn-outline-primary">Departman Detay</a></td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, Page => Url.Action("Index", new { Page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
   {"page-link"}
})
<a href="/Department/AddDepartment" class="btn btn-info">Departman Ekle</a>


